{% extends "@bulma/system/page.html.twig" %}

{% block navbar %}
{# We put everything in Bulma columns so must do navbar in header block #}
{% endblock navbar %}
{% block header %}
<header class="header section">
  <div class="container is-fullhd">
    <div class="columns header--top is-vcentered is-mobile">
      {# The navbar_branding block provides its own 'column' class #}
      {% block navbar_branding %}
      {{ page.navbar_branding }}
      {% endblock navbar_branding %}
      {% if page.header_search %}
        <div class="column is-one-third is-narrow-mobile search-bar column is-hidden-print has-text-right">
          {{ page.header_search }}
        </div>
      {% endif %}
    </div>
    <div class="columns is-tablet is-multiline is-hidden-print">
      {% block primary_menu %}
      {% if page.primary_menu %}
      <nav class="navigation column is-narrow-desktop">
        {{ page.primary_menu }}
      </nav>
      {% endif %}
      {% if page.language_switcher %}
        <div class="column has-text-right">
          {{ page.language_switcher }}
        </div>
      {% endif %}
      {# We do not currently have this; but if we allow caregivers to log in will probably need it. #}
      {% if page.header_user %}
        {# The user account menu provides its own 'column' class #}
        {{ page.header_user }}
      {% endif %}
      {% endblock primary_menu %}
    </div>
  </div>
</header>
{% if site_slogan %}
<div class="columns">
  <div class="column has-text-centered">
    <p class="slogan"><strong class="title">{{ site_slogan }}</strong></p>
  </div>
</div>
{% endif %}
{% if not is_front and page.header %}
<section class="section">
  {% block header_and_search %}
  {% if page.header %}
  {# Header region #}
  <div class="container is-fullhd">
    <div class="columns is-vcentered">
      <div class="column">
        {{ page.header }}
      </div>
    </div>
  </div>
  {% endif %}{# end if page.header #}
  {% endblock header_and_search %}
</section>
{% endif %}{# end if not is_front and page.header #}
{% block tabs %}
{# Drupal tabs #}
{% if page.header_tabs %}
  {{ page.header_tabs }}
{% endif %}
{% endblock tabs %}
{% endblock header %}
{% block main %}
{# Main section #}
<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.highlighted }}
  {{ page.help }}

  {% block main_content %}
    {% if not node %}
    <section class="section">
      <div class="container is-fullhd">
    {% endif %}
    {% if page.filters %}
    <div class="columns search {{ filters_first }}">
      <div class="column results is-three-fifths-tablet is-half-desktop">
    {% endif %}
    {# @TODO learn why we needed to remove <div{{page.content_attributes}}> to get rid of the main-content, column vars that are seemingly only added by Bulma's page.html.twig in the main block that we override #}
    {{ page.content }}
    {% if page.filters %}
      </div>
      <div class="column filters is-two-fifths-tablet is-half-desktop is-hidden-print">
        {{ page.filters }}
      </div>
    </div>
    {% endif %}
    {% if not node %}
      </div>
    </section>
    {% endif %}
  {% endblock main_content %}

  {{ page.content_bottom }}

</main>
{% endblock main %}
{% block footer %}
{% if page.footer or page.footer_menus or page.footer_info or page.footer_notice %}
<footer role="contentinfo" class="footer is-hidden-print">
  {% if page.footer %}
  <div class="section">
    <div class="container is-fullhd">
      {{ page.footer }}
    </div>
  </div>
  {% endif %}
  <div class="hero background-orange foreground-light">
    <div class="hero-body">
      <div class="container is-fullhd">
        {{ page.footer_notice }}
      </div>
    </div>
  </div>
  <div class="section background-purple foreground-light">
    <div class="container is-fullhd">
      <div class="columns are-equal-height is-centered">
        {{ page.footer_info }}
        <div class="column is-half">
          <div class="columns is-mobile is-full">
            <div class="column is-one-quarter has-text-centered">
              <img alt="Seal of the City of Cambridge, Massachusetts." title="Seal of the City of Cambridge, Massachusetts." src="{{ base_path ~ directory }}/images/cambridge-seal.png" class="logo-footer logo-footer--cambridge-seal" />
            </div>
            <div class="column is-half has-text-centered">
              <img alt="Family Policy Council logo."  src="{{ base_path ~ directory }}/images/family-policy-council.png" class="logo-footer logo-footer--family-policy-council" />
            </div>
            {#
            <div class="column is-one-quarter has-text-centered">
              <a href="https://agaric.coop/"><img alt="Agaric.  Cooperative mushrooms logo plus Agaric wordmark." src="{{ base_path ~ directory }}/images/agaric-logo-stacked.svg" class="logo-footer logo-footer--agaric" /></a>
            </div>
            #}
          </div>
        </div>
        {{ page.footer_menus }}
      </div>
      <div class="columns is-centered">
        <div class="column has-text-centered">
          &copy;{{ "now"|date("Y") }} {% trans %}City of Cambridge, MA{% endtrans %}
        </div>
      </div>
    </div>
  </div>
</footer>
{% endif %}
{% endblock footer %}
