{#
/**
 * Tabs are lazy-loaded (<drupal-render-placeholder callback="Drupal\block\BlockViewBuilder::lazyBuilder" etc is
 * printed) so we don't want to print *any* wrapping divs.
 */
#}
{{ content }}
