{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'columns',
    'is-multiline',
    'are-equal-height',
  ]
%}
{% set attributes = attributes.addClass(classes) %}
<div{{ attributes }}>
  {{ content  }}
  <div class="column is-full">{# Required for our "align-items: stretch" based equal height to work. #}</div>
</div>
