{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
  <div class="column is-one-quarter has-text-centered-mobile">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo logo--footer">
      <img src="{{  base_path ~ directory }}/images/findit-logo-footer.svg" alt="{{ site_name }}" />
    </a>
    <p><a href="tel:+16176862998">617-686-2998</a></p>
    <p><a href="mailto:info@finditcambridge.org">info@finditcambridge.org</a></p>
    {{ content }}
  </div>

