@charset "utf-8";

// Set our custom font for all headers and menus
.title,
.menu {
  font-family: $family-sans-serif;
}

.subtitle {
  font-family: $family-serif;
  font-style: italic;
}

p {
  margin-bottom: 1rem;
}

/* Not sure where Bulma is saying links shouldn't have color, but even more curious as to why
   and what the heck it's own $link-active option isn't applied either. */
a, .link {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
a.teaser {
  color: $blue;
}
a:visited {
  color: $link-visited;
}
a.teaser:visited {
  color: $mid-purple;
}
a:hover, .link:hover {
  text-decoration: underline;
  background-color: $offwhite;
}
a.teaser:hover {
  text-decoration: none;
}
a:active, .link:active {
  background-color: $light-yellow;
}


.image img {
  display: block;
}

// Prevent images from being larger than their Drupal-set size
.image.no-upscale img {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

// $navbar-item-img-max-height: 3rem;

