@charset "UTF-8";
/**
 * Extend or override Bulma's components,
 * ../../node_modules/bulma/sass/components
 */

.link-blocks {
  padding: 1.5rem 0.5rem;
  @include from($tablet) {
    padding: 1.5rem 1.5rem;
  }
}

.link-block{
  display: block;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  img {
    width: 100%;
    /* Ideally this would be calculated to exclude the overlay */
    /* Separately, for unknown reasons, if the margin-bottom is exactly what the overlay min-height is, there's a whitespace gap, so we make the margin slightly smaller. */
    margin-bottom: 5.5rem;
    @include from($fullhd) {
      margin-bottom: 6.5rem;
    }
  }
  &::before {
    content: "";
    float: left;
    padding-bottom: 100%;
  }
}

.link-block--overlay-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  min-height: 6rem;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  .title {
    margin-bottom: 0.5rem;
  }
  .title,
  .subtitle {
    margin-left: auto;
    margin-right: auto;
  }
  @include from($fullhd) {
    min-height: 7rem;
  }
}

/* There's a negative 0.75 padding on columns already so this brings it to positive 0.75rem or something */
.opportunity--column {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

@include from($tablet) {
  .opportunity--column {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    padding-right: 3em !important;
    padding-left: 3em !important;
  }
  .opportunity--column-left {
    padding-left: 6em !important;
  }
  .opportunity--column-right {
  }
  .opportunity--inner-column-left {
    padding-right: 3em !important;
  }
  .column.opportunity--image {
    display: flex;
    align-items: center;
  }
}

@include from($desktop) {
  .opportunity--inner-column-right {
    border-left: solid $black 2px;
    padding-left: 3em !important;
  }
  .opportunity--related {
    .columns.is-desktop {
      display: block;
    }
    .opportunity--inner-column-right {
      border-left: inherit;
      // Saying revert or inherit doesn't get us back to the correct size
      // (undoing the 3em above) but here's a variable that happens to match
      // the 0.75rem that we want.
      padding-left: $size-7 !important;
    }
    .column.is-two-fifths-desktop,
    .column.is-three-fifths-desktop {
      display: block;
      width: inherit;
    }
  }
}

.opportunity--image {
  background-color: $light-purple;

  .image {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* The 100%/75% sets up a scaling ratio equal to 600px by 450px
 * with a maximum of 700px by 525px */
.opportunity--image figure.image {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  float: left;
  height: 0;
  @include mobile {
    // Fix a lack of space above opportunity duration on mobile.
    margin-bottom: 1rem;
  }
}


.opportunity--image figure.image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* This is a bit bizarre but this keeps the maximum width of opportunity content
 * within a range that one third of it gives us a maximum image size of ~700px.
 *
 * And it's not a bad maximum width, and we really needed one anyway.
 */
article.opportunity {
	max-width: 2076px;
	margin-left: auto;
	margin-right: auto;
}

.opportunity--block {
  margin-bottom: 1rem;
}

// Used for updated text and report link.
.opportunity--block--bottom {
  margin-top: 3.6rem;
  margin-bottom: 2.4rem;
}

.opportunity {
  .title {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.opportunity.teaser {
  background-color: $light-orange;
  .title {
    margin-top: 0.15rem;
  }
}

.opportunity--column {
  .title {
    margin-bottom: 0.5rem;
  }
}

.view-findit-organization-current-opportunities {
  .title {
    margin-bottom: 0.5rem;
  }
}

/* This is needed only on the related programs listing in the right sidebar on organization pages. */
.opportunity.box.teaser {
  width: 100%;
}

/**
 * Make vertical and horizontal spacing between blocks equal.
 *
 * See https://github.com/jgthms/bulma/issues/1436
 */
.columns.is-variable .column {
  padding: var(--columnGap);
}

// Make menu items slightly less far apart so we never entirely lose
// 'Community' on mid-size screens.
// See https://gitlab.com/drutopia/octavia/issues/52
.navbar-item, .navbar-link {
  color: $black;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: .75rem;
  padding-right: .75rem;
  @include from($widescreen) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.column.branding {
  padding-bottom: 0;
}

// Slim down section vertical padding (regular is already half Bulma default).
.section.is-small {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

// Give titles, from which we removed the Hero classes, the same padding
// as sections.

// .block-page-title-block {
//  padding: 1rem 1.5rem;
// }

.section--slide.has-background {
  background-color: $mid-purple;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

/* Cards are mostly styled by Bulma, but we add a couple classes and do a couple modifications. */

.card {
  display: block;  /* We apply this class to <a> so we need this */
  border-radius: 1rem;  /* Same as link-block */
  .card-image {
    overflow: hidden; /* no effect? So the below. */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.card-content {
  background-color: $purple;
  min-height: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  .content .title {
    color: $white;
    text-align: center;
  }
}

/* Site info / contact us footer */

.block-microformats {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;

  .phone {
    margin-bottom: .8rem;
  }
}

.logo.logo--footer {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer {
  max-height: 6rem;
}

.logo-footer--cambridge-seal {
}

.logo-footer--family-policy-council {
  margin-left: auto;
  margin-right: auto;
}

.logo-footer--agaric {
  margin-left: auto;
  margin-right: 0;
}


/* Used for Today's Events listing */
.columns.micro {
  border-bottom: $black solid 1px;
}
