@charset "UTF-8";
// Extend or override Bulma's elements ../../node_modules/bulma/sass/elements


.slogan {
  box-shadow: 0 2px 0 0 $offwhite;
  .title {
    color: $orange;
    font-size: 1.2rem;
  }
}

/* For language select list dropdown. */
.header {
  z-index: 99;
  position: relative;
}
.block-language-blocklanguage-interface {
  z-index: 99;
  width: 15rem;
  display: inline-block;
  @include from($widescreen) {
    width: 15rem;
  }
}
.dropdown-emulator-select-btn {
  text-align: center;
}
.dropdown-emulator {
  position: relative;
  ul {
    position: absolute;
    background-color: $white;
    width: 100%;
    text-align: left;
    li a {
      padding: 0.3rem 0.3rem 0.3rem 0.6rem;
      width: 100%;
      display: inline-block;
      &:hover {
        background-color: whitesmoke;
      }
    }
  }
}

/* Drum is the little-used but real word for a section of a column, that isn't already used like section and block are. */
.drum {
  margin-bottom: 1.2rem;
}


/* Neighborhood field on teasers */

.teaser h4 {
  display: inline-block;
}

/* Date field on teasers. */
.teaser .inotherwords-dateranges--upcoming {
  .recurring--first-sentence {
    font-size: .9rem;
  }
}

.content .section .title {
  margin-bottom: 0;
}
