$family-sans-serif: "Fira Sans", "Ubuntu", "Arial Narrow", "Helvetica", "Arial", "Lucida", sans-serif;
$family-serif: "Merriweather", serif !default;

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/fira-sans-v5-latin-regular.eot') format('embedded-opentype'),
      url('../../fonts/fira-sans-v5-latin-regular.woff') format('woff'),
      url('../../fonts/fira-sans-v5-latin-regular.ttf') format('truetype'),
      url('../../fonts/fira-sans-v5-latin-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/fira-sans-v5-latin-700.eot') format('embedded-opentype'),
      url('../../fonts/fira-sans-v5-latin-700.woff') format('woff'),
      url('../../fonts/fira-sans-v5-latin-700.ttf') format('truetype'),
      url('../../fonts/fira-sans-v5-latin-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather-v11-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather-v11-latin-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
