@charset "UTF-8";
/**
 * Extend or override Bulma's grid ../../node_modules/bulma/sass/grid
 */

.are-equal-height {
  align-items: stretch;
}

/**
 * Allow columns to be in the reverse order that they are shown on mobile as rows.
 *
 * From https://github.com/jgthms/bulma/issues/475
 */
@media only screen and (min-width: $tablet) {
  .reverse-row-order {
    display: flex;
    flex-direction: row-reverse;
  }
}
