/* Icons are expected to be added to paragraph tags and not independently
 * convey any semantic information. */

.icon-inline {
  padding-left: 0.5em;
  line-height: 2em;
  &:before {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    float: left;
    line-height: 2em;
    margin-right: 0.5em;
  }
}

.icon-inline--phone:before {
  background-image: url(../../images/icon-phone.svg);
}

.icon-inline--mail:before {
  background-image: url(../../images/icon-mail.svg);
}

.icon--findit {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-color: $light-orange;
  border-radius: 2.2rem;
  background-position: center;
}

/* Icons for opportunity types used in the search filter */
.icon--findit-program {
  background-image: url(../../images/icon-program.svg);
}
.icon--findit-event {
  background-image: url("../../images/icon-event.svg");
}
.icon--findit-place {
  background-image: url("../../images/icon-place.svg");
}
.icon--findit-organization {
  background-image: url("../../images/icon-organization.svg");
}

.title.icon--findit--text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem;
}

.icon--findit--count {
  display: none;
}


.icon--findit-footer {
  display: inline-block;
  height: 2.2rem;
}


.is-small {
  font-size: 1rem;
}


/* Used by social media links (we added this class in the template) */
a.fa-icon, a.logo {
  display: block;
  &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: inherit;
  }
}
