@charset "UTF-8";
// Extend or override Bulma's layouts ../../node_modules/bulma/sass/layout


// Keep the logo from taking over.
.logo {
  max-width: 36rem;
  display: block;
}

.columns.header--top {
  margin-bottom: 0;
}


@include mobile {
  .tabs ul {
    flex-shrink: 1;
    flex-wrap: wrap;
    border-bottom-color: transparent;
  }
}


// Make image paragraphs a page-spanning stripe in the site's main brand color.
.paragraph.paragraph--type--image.paragraph--view-mode--default {
  background-color: $primary;

  // Center the contents of image paragraphs.
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.opportunity .level-headings {
  .title {
    margin-top: 0;
  }
}
