/**
 * Classes here are meant to be used in the CSS class(es) field available when
 * configuring an individual block courtesy the block_class module.
 *
 * @TODO prefix these with "paint--" ?
 */

.background-orange {
  background-color: $orange;
}

.background-purple {
  background-color: $purple;
}

.background-light-orange {
  background-color: $light-orange;
}

.background-light-purple {
  background-color: $light-purple;
}

.foreground-light {
  color: $white;
  .title,
  .subtitle {
    color: $white;
  }
  a {
    color: $light-blue;
    &:visited {
      color: $light-purple;
    }
    &:hover {
      color: $offwhite;
      background-color: inherit;
    }
    &:active {
      color: $light-yellow;
      background-color: inherit;
    }
  }
}

/** If foreground-light is *inside* the link anchor tag, make links white */
a .foreground-light {
  color: $white;
  &:visited {
    color: $white;
  }
}

// (historical, will probably be deleted) Give us some color classes
.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

