/**
 * Styles related to the Search component.
 */

/**
 * We could make the search selection dropdown, maybe for ages only, horizontal with this:
.selectize-dropdown-content .option {
  display: inline-block;
}
 */

/* Search bar in menu / header region */

.block-findit-searchbar-small-block {
  .form-item {
    display: inline-block;
    width: calc(100% - 3.4rem);
    @include until($tablet) {
      display: none;
    }
  }
  .form-actions {
    display: inline-block;
  }
  .control,
  .button,
  .input {
    font-size: 1.2rem;
  }
}

/* Filters form (/search page) */
.findit-search-filters-form {
  max-width: 48rem;
  .control .select {
    width: 100%;
    .form-select {
      width: 100%;  // This is for our non-selectized dropdown, for the sort.
      &.selectized {
        height: 2.25rem;  // For before JavaScript loads for the selectized multi-select elements.
      }
    }
  }
  .form-item {
    margin-bottom: 0.5rem;
    .label {
      margin-bottom: 0.25rem;
    }
    /* Place submit buttons for each filter next to the filter. */
    > .control {
      display: inline-block;
      width: calc(100% - 3.4rem);
    }
    > .field-suffix {
      display: inline-block;
      max-width: 3rem;
      .button.button--default {
        background-color: $mid-purple;
      }
    }
    /* Position submit button at right bottom of map. */
    &.form-item-neighborhoods {
      position: relative;
      > .field-suffix .control {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }

  .form-checkboxes {
    margin-top: 1rem;
  }

  .js-form-type-checkbox {
    display: inline-block;
  }
  .js-form-type-checkbox .label {
    width: 7rem;
  }

  /* Make daterange datepickers sit next to each other: form-item-start, form-item-end */
  .js-form-type-date {
    width: 49%;
    display: inline-block;
  }

  /* Hide checkboxes people will press the icons.  See _icons.scss for more of the icon styling than covered below. */
  .findit-opportunity-types.form-checkbox {
    position: absolute;
    clip: rect(0,0,0,0);
  }

  .findit-opportunity-types:hover + .icon--findit {
    background-color: $light-purple;
    cursor: pointer;
  }
  .findit-opportunity-types:hover + .icon--findit--text {
    color: $orange;
  }

  .findit-opportunity-types:checked + .icon--findit {
    background-color: $orange;
  }

  .findit-opportunity-types:active + .icon--findit {
    background-color: $light-yellow;
  }
}

// .selectize-control.single,  -actually they make their multi styling intentionally different from single so will we.
.selectize-control.multi {
  .selectize-input [data-value] {
    background-color: $orange;
    background-image: linear-gradient(to bottom, lighten($orange, 3%), darken($orange, 6%));
    text-shadow: 1px 1px 2px $link;
  }

  .selectize-input > div,
  .selectize-input [data-value].active {
    background-color: $orange;
    border-color: darken($orange, 18%);
    background-image: none;
  }
}

// For unknown reasons, only the single is being given the unwanted dropdown and needs special-casing.
.selectize-control.single .selectize-input::after {
  display: none;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left-color: darken($orange, 18%);
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-size: inherit;
}

/* Map */
.st1.is-unavailable {
  fill: $grey-light;
  cursor: not-allowed;
}
.form-item-neighborhoods {
  max-width: 39em;
}

.reset.button.is-text {
  text-decoration: none;
  color: $link;
}

.fa-search.button span {
  font-family: $family-sans-serif;
}

// Filters are always second on desktop, and are second in source, but for the
// first time someone comes to the page on mobile, they should be able to see
// the filters without scrolling to the end of the list.
@include until($tablet) {
  .filters-first {
    display: flex;
    flex-direction: column-reverse;
  }
}
