// Bring in Bulma allowing us to extend and override it.

// Set brand colors.
$orange: #FF911C;
$dark-orange: #FA771B;
$purple: #2A0058;
$mid-purple: #64347D;
$light-purple: #D3CBDD;
$light-orange: #FFDCA5;
$offwhite: #E7EFEA;
$blue: #3b5a98;
$light-blue: #c7e9fe;
$red: #a70c20;
$light-red: #A85764;
$light-green: #65AB1F;
$green: #478D00;
$green-gray: #8FB489;
$turquoise: #73CFC9;
$yellow: #faed04;
$light-yellow: #f8f16c;
$grey-light: #F1F1F1;
$white: #ffffff;

// Update Bulma's global variables.
$primary: $purple;
// We must not be defining the primary color in the right place for the invert to be created automatically?
$primary-invert: $white;

$warning: $orange;

// Link colors.
$link: $blue;
$link-hover: #000000;
$link-hover-border: $light-yellow;
$link-visited: $mid-purple;


// Increase radius sizes from default 2, 4, 6
$radius-small: 4px;
$radius: 8px;
$radius-large: 12px;

// Set margin used to allow some sections to have a 'full bleed' to the widest width, while this 'margin' is put back
// in as an inner element's padding (this visible margin is always effected with padding).
$margin: 1.5rem;
$margin-tablet: 3rem;
$margin-desktop: 6rem;
$margin-widescreen: 9rem;
$margin-fullhd: 12rem;

// Instead of removing all footer styling, we just remove the class, but that's
// equivalent to the below.  Our reason is that we have layers of footers that
// need their backgrounds to reach the edges of the page:
$footer-background-color: inherit;
$footer-color: false;
$footer-padding: 3rem 0 0;

// Decrease section vertical padding from 3rem to 1.5.
$section-padding: 1.5rem $margin;

// Add a new 'mini' size to use as our own breakpoint.
$mini: 363px;

// Import the initial variables so we can use them in overriding others
// OK i could have just re-defined $gap but maybe this'll prove useful later.
@import "../../node_modules/bulma/sass/utilities/initial-variables";
// Make the existing allegedly wide sizes actually wide.
// Bulma uses base numbers of 1152px for widescreen and 1344px for fullhd
// because they are divisible by both 12 and 16.  So are these.
// // inherited unchanged: $tablet: 769px !default
$desktop: 1152px + (2 * $gap);  // 1216px
$widescreen: 1344px + (2 * $gap);  // 1408px
$fullhd: 1728px + (2 * $gap);  // 1792px
// 1920 is the widest screen size in regular use, and i'd actually like the
// content to stay fluid up to that.  But i guess 1792px is close enough.

// Import each part of Bulma separately so we can layer in our styles.
// Extend or override Bulam's base styles in this themes base.scss etc.
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../node_modules/bulma/sass/utilities/mixins";
@import "../../node_modules/bulma/sass/utilities/controls";
@import "fonts";
@import "../../node_modules/bulma/sass/base/_all";
@import "base";
// Neutralize ".title:not(.is-spaced) + subtitle" etc. rules because they cause
// badly different spacing for viewers with contextual links versus without.
$subtitle-negative-margin: inherit;
@import "../../node_modules/bulma/sass/elements/_all";
@import "elements";
@import "../../node_modules/bulma/sass/form/_all";
@import "form";
$navbar-breakpoint: $mini/2;
@import "../../node_modules/bulma/sass/components/_all";
@import "components";
@import "../../node_modules/bulma/sass/grid/_all";
@import "grid";
@import "../../node_modules/bulma/sass/layout/_all";
@import "layout";

// Print stylesheets we hope will be part of Bulma soon.
@import "print";

// You can add final styles below or import another Sass or SCSS stylesheet here
// and it will have access to Bulma variables and mixins.

@import "search";
@import "icons";
@import "paint";
@import "state";

// @import '../../node_modules/bulma-extensions/bulma-timeline/dist/bulma-timeline';
