/**
 * We bring in our identical copy of bulma/assets/overrides.scss
 * because we're skipping Bulma's whole own library to avoid the
 * JavaScript dependencies.  Also, ultimately we can incorporate
 * or skip much that is in there.
 */
@import 'bulma_overrides';


/**
 * This is needed to override weirdness that Bulma theme is doing in its
 * own overrides file.
 */

.container img.align-left {
  padding-right: 1em;
}
.container img.align-right {
  padding-left: 1em;
}


/**
 * Somewhat temporary.
 *
 * @TODO fix.  See https://gitlab.com/freelygive/drupal/contacts/issues/19
 */
.unified-login.register {
  display: none;
}
.unified-login.login h2 {
  display: none;
}

/* @TODO also fix properly
mlncn: @cedewey i can't see a configuration or template way to get rid of the "United States"; could you check around in the queue or the site config? oh, probably it's got it's own custom formatter creation option somewhere, anyway if you can find the config path to that or other answer drop it to me
 */
.address .country {
  display: none;
}

/* Margin on content images is probably a good idea, but our opportunity logo/picture is not a typical 'content' image. */
.content .opportunity--image figure.image {
  margin-left: 0;
  margin-right: 0;
}

/* Somewhere in Bulma (?!) is setting this to height: 2.25em; which makes the Selectize multiple selections overhang
   the form fields below them.
 */
.select:not(.is-multiple) {
  height: inherit;
}

.opportunity-title-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.soc-sharing-block{
  text-align: center;
  display: flex;
  align-items: center;
  .social-sharing-buttons {
    padding: 0 17px;
    margin: 0;
  }
}

