{% extends "@newtowne/content/node-base--opportunity--full.html.twig" %}

{% block when_content %}
  {% if node.field_findit_place_when.value == "office_hours" %}
    {{ content.field_findit_operation_hours }}
  {% else %}
    {{ content.field_findit_place_when }}
  {% endif %}
{% endblock when_content %}

{# Remove eligibility/cost blocks which don't apply #}
{% block eligibility %}
{% endblock eligibility %}
{% block cost %}
{% endblock cost %}
