{#
/**
 * @file
 * Stripped down from @newtowne/templates/content/node--findit-location.html.twig.
 *
 * We only show the location neighborhood on opportunity teasers (in which location teasers are embedded).
 *
 * @ingroup themeable
 */
#}
{{ content.field_findit_neighborhood }}
