{% extends "@newtowne/content/node-base--opportunity--full.html.twig" %}

{% block title %}
  <div class="column is-two-thirds background-purple foreground-light opportunity--column opportunity--column-left">
    {{ title_prefix }}
    <h1{{ title_attributes.addClass('title', 'is-1') }}>{{ label }}</a></h1>
    {{ title_suffix }}
    {% set orgs = content.field_findit_organization|render %}
    {% if orgs %}
      <h3 class="subtitle is-5">By {{ orgs }}</h3>
    {% endif %}
    {% block about %}
    <div class="drum">
     <h4 class="title is-5">{{ content.field_findit_short_summary }}</h4>
    </div>
    {% endblock about %}
  </div>
{% endblock title %}

{% block location %}
  <div class="opportunity--block">
    <h3 class="title is-5">{% trans %}Location{% endtrans %}</h3>
    {{ content.field_findit_locations }}
  </div>
{% endblock location %}

{% block when_content %}
  {% if node.field_findit_organization_when.value == "office_hours" %}
    {{ content.field_findit_operation_hours }}
  {% else %}
    {{ content.field_findit_organization_when }}
  {% endif %}
{% endblock when_content %}

{# Remove eligibility/cost blocks which don't apply #}
{% block eligibility %}
{% endblock eligibility %}
{% block cost %}
{% endblock cost %}

{% block related %}
{% endblock related %}

{% block bottom %}
  <div class="columns">
    <div class="column opportunity--column opportunity--column-left opportunity--column-right">
      {{ content.extra_field_child_opportunities }}
    </div>
  </div>
  <div class="columns">
    <div class="column opportunity--column opportunity--column-left opportunity--column-right">
      {{ content.extra_field_child_organizations }}
    </div>
  </div>
{% endblock bottom %}
