{#
/**
 * @file
 * Stripped down from @newtowne/templates/content/node.html.twig.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'drum',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
] %}
<article{{ attributes.addClass(classes) }}>

  {# Locations should not be shown as a page view but they *never* show their
     title when embedded in other content. #}
  {% if page %}
    {{ title_prefix }}
    <h1{{ title_attributes }}>{{ label }}</a></h1>
    {{ title_suffix }}
  {% endif %}

  <div{{ content_attributes.addClass('columns') }}>
    <div class="column is-two-fifths-desktop is-one-third-widescreen is-one-quarter-fullhd">
      {{ content|without('field_findit_neighborhood') }}
    </div>
    <div class="column">
      {{ content.field_findit_neighborhood }}
    </div>
  </div>

</article>
