{#
/**
 * @file
 * Micro (one line) display of a node; used so far for Find It Events.
 *
 * @TODO figure out what defined the micro view mode in the first place, presumably something in Drutopia, and make
 *  sure we aren't stomping on it or conflicting in some way.
 *
 * Styled with:
 display: table; width: 100%;
 display: table-row;
 display: table-cell;
 display: table-cell; text-align: right;
 *
 * @ingroup themeable
 */
#}
{% set classes = [
node.bundle|clean_class,
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'columns',
] %}
<a href="{{ url }}" rel="bookmark" {{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  <h2 class="column is-four-fifths is-size-3">
    {{ label }}
  </h2>
  {{ title_suffix }}

  <h5 class="column is-one-fifth is-size-3">
    {{ content }}
  </h5>

</a>
