{% extends "@newtowne/content/node-base--opportunity--full.html.twig" %}

{% block when_content %}
  <div class="drum">
    {{ content.field_findit_program_when }}
    {{ content.field_findit_opportunity_dates }}
  </div>
  <div class="drum">
    {{ content.field_findit_day_of_week }}
    {{ content.field_findit_time_of_day }}
  </div>
  {{ content.field_findit_when_notes }}
{% endblock when_content %}

{% block related %}
    <div class="opportunity--related">
      {{ content.extra_field_sibling_opportunities }}
    </div>
{% endblock related %}
