{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'opportunity',
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

{% set content_type = node.type.entity.label %}

{% if not node.isPublished() %}
  {% if current_revision_state == 'trash' %}
    {% set version_state_message_title %}
      {% trans %}
        This {{ content_type }} has been deleted.
      {% endtrans %}
    {% endset %}
    {% set version_state_message_subtitle %}
      {% trans %}
        You can restore it by editing.
      {% endtrans %}
    {% endset %}
  {% elseif node.isDefaultRevision() %}
    {% set version_state_message_title %}
      {% trans %}
        This {{ content_type }} is not yet viewable by the public.
      {% endtrans %}
    {% endset %}
    {% set version_state_message_subtitle %}
      {% trans %}
        Please complete and publish it soon!
      {% endtrans %}
    {% endset %}
  {% else %}
    {% set version_state_message_subtitle %}
      {% trans %}
        This {{ content_type }} {{ current_revision_state }} has not yet been published.
      {% endtrans %}
    {% endset %}
    {% set version_state_message_subtitle %}
      {% trans %}
        An older version is published; please complete and publish this latest {{ current_revision_state }} soon!
      {% endtrans %}
    {% endset %}
  {% endif %}
  <section class="hero is-danger is-bold">
    <div class="hero-body">
      <div class="container">
        <p class="title">{{ version_state_message_title }}</p>
        <p class="subtitle">{{ version_state_message_subtitle }}</p>
      </div>
    </div>
  </section>
{% endif %}

{% block outdated %}
{% if node.isPublished() and node.isOutdated() %}
  <section class="hero is-warning is-bold">
    <div class="hero-body">
      <div class="container">
        <p class="title">{% trans %}This {{ content_type }} has not been updated in more than {{ node.getOutdatedPeriod() }}.{% endtrans %}</p>
        <p class="subtitle">{% trans %}We recommend you try to verify information using the contact information below before making plans.{% endtrans %}</p>
      </div>
    </div>
  </section>
{% endif %}
{% if node.isRegistrationEnded() %}
  <section class="hero is-warning is-bold">
    <div class="hero-body">
      <div class="container">
        <p class="title">{% trans %}Registration for this {{ content_type }} has closed.{% endtrans %}</p>
      </div>
    </div>
  </section>
{% endif %}
{% endblock outdated %}

{{ content.content_moderation_control }}

<article{{ attributes.removeClass('content').addClass(classes) }}>

  <div class="columns">
    {% block title %}
    <div class="column is-two-thirds background-purple opportunity-title-column foreground-light opportunity--column opportunity--column-left is-full-print">
      <div>
        {{ title_prefix }}
        <h1{{ title_attributes.addClass('title', 'is-1') }}>{{ label }}</a></h1>
        {{ title_suffix }}
        {% set orgs = content.field_findit_organization|render %}
        {% if orgs %}
          <h3 class="subtitle is-5">By {{ orgs }}</h3>
        {% endif %}
        {% block associated_program %}
        {% endblock associated_program %}
        {% block about %}
          <div class="drum">
            <h4 class="title is-5">{{ content.field_findit_short_summary }}</h4>
          </div>
        {% endblock about %}
      </div>

      {% if social_sharing %}
        <div class="soc-sharing-block is-hidden-print">
          <div>
            <span class="title is-6">
          {% trans %}
            Share with your friends!
          {% endtrans %}
            </span>
          </div>
          <div>
            {{ social_sharing }}
          </div>
        </div>
      {% endif %}
    </div>

    {% endblock title %}
    {% block image %}
    <div class="column is-one-third is-paddingless opportunity--image is-hidden-print">
      {{ content.field_image }}
    </div>
    {% endblock image %}
  </div>

  <div class="columns level-headings">
    <div class="column is-two-thirds background-light-orange opportunity--column opportunity--column-left is-full-print">
      <div class="columns is-desktop">
        {% block when %}
        <div class="column is-half-desktop opportunity--inner-column-left">
          <div class="drum">
          {% block when_content %}
          {{ content.field_findit_opportunity_dates }}
          {{ content.field_findit_when_notes }}
          {% endblock when_content %}
          </div>
          {% if content.field_findit_site_social_links %}
            {{ content.field_findit_site_social_links }}
          {% endif %}
        </div>
        {% endblock when %}
        {% block eligibility %}
        <div class="column is-half-desktop opportunity--inner-column-right">
          <div class="drum">
            {% if node.field_findit_ages.value %}
              <p><strong>{{ content.field_findit_ages }}</strong></p>
            {% endif %}
            {% if node.field_findit_ages.value %}
              <p><strong>{{ content.field_findit_grades }}</strong></p>
            {% endif %}
          </div>
          <div class="drum">
            {% if node.field_findit_eligibility.value %}
              <p><strong>{{ content.field_findit_eligibility }}</strong></p>
            {% endif %}
            {{ content.field_findit_eligibility_notes }}
          </div>
        </div>
        {% endblock eligibility %}
      </div>
    </div>
    {% block contact %}
    <div class="column is-one-third background-light-purple opportunity--column opportunity--column-right is-full-print">
      {{ node.getRequestAssistanceButton() }}
      <h3 class="title is-5">Contact</h3>
      {{ content.field_findit_contacts }}
      {% if node.field_findit_contact_notes.value %}
        {{ content.field_findit_contact_notes }}
      {% endif %}
    </div>
    {% endblock contact %}
  </div>

  {% block main_body %}

  <div class="columns">
    <div class="column opportunity--column opportunity--column-left is-two-thirds is-full-print">

      {% block general %}

      {% block registration %}
      <div class="opportunity--block">
        {% if node.field_findit_registration_type.value is same as('none') %}
          <p><strong>{{ content.field_findit_registration_type|render|spaceless -}}.</strong></p>
        {% else %}
          <h3 class="title is-5">{{ content.field_findit_registration_type }}</h3>
        {% endif %}
        {% if not node.field_findit_registration_type.value is same as('none') %}
        <div class="drum">
          {{ content.field_findit_registration_when }}
          {{ content.field_findit_register_dates }}
        </div>
        {% endif %}
        <div class="drum">
          {{ content.field_findit_registration_file }}
          {{ content.field_findit_registration_url }}
          {{ content.field_findit_registration_notes }}
        </div>
      </div>
      {% endblock registration %}

      {% block cost_aid %}
      <div class="opportunity--block">
        {# Set whether to show a financial support section as a second 2/3 column.

           NOTE we check that it is not marked gratis and that there is *some*
           value set in cost subsidies because this is easier than parsing out if
           one of the values in subsidies is set to 'free', instead we count on
           the separate gratis field hiding the whole subsidies/aid section being
           enforced within the node form and other protections to data integrity.
        #}
        {% if not node.field_findit_noindex_gratis.value and node.field_findit_cost_subsidies.value %}
          {% set financialaid = true %}
        {% else %}
          {% set financialaid = false %}
        {% endif %}

        {% block cost %}
        <div class="drum">
          {# Note use of 'node' not 'content' to get raw (key) values. See
             https://blog.usejournal.com/getting-drupal-8-field-values-in-twig-22b80cb609bd
             by Sarah Carney.
          #}
          {% if node.field_findit_noindex_gratis.value %}
            <h3 class="title is-5">{% trans %}Free!{% endtrans %}</h3>
          {% else %}
            <h3 class="title is-5">{% trans %}Cost{% endtrans %}</h3>
          {% endif %}
          {% if node.field_findit_cost_description.value %}
            {{ content.field_findit_cost_description }}
          {% elseif not node.field_findit_noindex_gratis.value %}
            <p>{% trans %}Contact us for more information.{% endtrans %}</p>
          {% endif %}
        </div>
        {% endblock cost %}

        {% block financialaid %}
        {% if financialaid %}
        <div class="drum">
          {{ content.field_findit_cost_subsidies }}
          {{ content.field_findit_financial_aid_url }}
          {{ content.field_findit_financial_aid_file }}
          {{ content.field_findit_financial_aid_notes }}
        </div>
        {% endif %}
        {% endblock financialaid %}

      </div>
      {% endblock cost_aid %}

      {% block location %}
      <div class="opportunity--block">
        <h3 class="title is-5">{% trans %}Location{% endtrans %}</h3>
        {# We only print the more interesting "The program serves people at their homes or wherever it is needed" or
        "The program location changes over time" rather than "The program happens at the location(s) specified below" #}
        {% if node.field_findit_where.value != 'locations' %}
          <p><strong>{{ content.field_findit_where }}</strong></p>
        {% endif %}
        <p>{{ content.field_findit_virtual }}</p>
        {{ content.field_findit_locations }}
        {# The transport provided field is printed as a bulleted list; see element/field--list-string.html.twig #}
        {{ content.field_findit_transport_provided }}
        {% if node.field_findit_location_notes.value %}
          {{ content.field_findit_location_notes }}
        {% endif %}
        <div class="drum">
          {% if node.field_findit_accessibility.value %}
            <p><strong>{{ content.field_findit_accessibility }}</strong></p>
          {% endif %}
          {% if node.field_findit_accessibility_notes.value %}
            {{ content.field_findit_accessibility_notes }}
          {% endif %}
        </div>
      </div>
      {% endblock location %}

      {# This works for programs and events, which both have special times / open during values ... ok well technically
         if nothing complains it works for everything because we need to check if those fields have values before we
         print them anyway...  #}
      {% block additional_info %}
      {% set additional_info = content.body|render|trim %}
      {% if additional_info or node.field_findit_special_times.value or node.field_findit_open_during.value or node.field_video_url.value or node.field_findit_flier.value %}
        <div class="opportunity--block">
          <h3 class="title is-5">Additional information</h3>
          {{ additional_info|raw }}
          {% if node.field_findit_special_times.value %}
            <p>{{ content.field_findit_special_times -}}.</p>
          {% endif %}
          {% if node.field_findit_open_during.value %}
            <p>{% trans %}{{ content_type }} continues to run during{% endtrans %} {{ content.field_findit_open_during -}}.</p>
          {% endif %}
          {{ content.field_findit_flier }}
          {{ content.field_video_url }}
        </div>
      {% endif %}
      {% endblock additional_info %}

      {% endblock general %}
      {% block updated %}
      <div class="opportunity--block opportunity--block--bottom is-hidden-print">
        <p class=""><em>Last updated {{ node.getChangedDate() }}.</em></p>
        <p><a href="mailto:info@finditcambridge.org?subject={{ node.title.value|url_encode }}&body=I am reporting a problem with the page at {{ url("<current>") }}">Is this page inaccurate or outdated? Please let us know!</a></p>
      </div>
      {% endblock updated %}

    </div>
    <div class="column is-one-third opportunity--column opportunity--column-right is-hidden-print">
      {% block related %}
      {% endblock related %}
      {% block categories %}
        <div class="opportunity--related">
          {% if node.field_findit_services.value %}
            <div class="drum">
              <h3 class="title is-5">See related services</h3>
              {{ content.field_findit_services }}
            </div>
          {% endif %}
          {% if node.field_findit_activities.value %}
            <div class="drum">
              <h3 class="title is-5">See related activities</h3>
              {{ content.field_findit_activities }}
            </div>
          {% endif %}
        </div>
      {% endblock categories %}
    </div>
  </div>
  {% endblock main_body %}


  {% block bottom %}
  {% endblock bottom %}

  {% block debug %}
  {% set debug = false %}
  {% if debug %}
  <h3 class="title is-5">Unexpected Content</h3>
  <div{{ content_attributes }}>
    {{ content|without(
      'findit_organization_current_opportunities_entity_view_programs',
      'field_findit_accessibility',
      'field_findit_accessibility_notes',
      'field_findit_activities',
      'field_findit_ages',
      'field_findit_contact_notes',
      'field_findit_contacts',
      'field_findit_cost_description',
      'field_findit_cost_subsidies',
      'field_findit_day_of_week',
      'field_findit_eligibility',
      'field_findit_eligibility_notes',
      'extra_field_sibling_opportunities',
      'field_findit_financial_aid_notes',
      'field_findit_financial_aid_file',
      'field_findit_financial_aid_url',
      'field_findit_flier',
      'field_findit_grades',
      'field_findit_locations',
      'field_findit_location_notes',
      'field_findit_noindex_gratis',
      'field_findit_open_during',
      'field_findit_operation_hours',
      'field_findit_opportunity_dates',
      'field_findit_organization',
      'field_findit_organization_when',
      'field_findit_place_when',
      'field_findit_program_when',
      'field_findit_register_dates',
      'field_findit_registration_dates',
      'field_findit_registration_file',
      'field_findit_registration_notes',
      'field_findit_registration_type',
      'field_findit_registration_url',
      'field_findit_registration_when',
      'field_findit_services',
      'field_findit_short_summary',
      'field_findit_site_social_links',
      'field_findit_special_times',
      'field_findit_time_of_day',
      'field_findit_transport_provided',
      'field_findit_virtual',
      'field_findit_when_notes',
      'field_image',
      'field_video_url',
      'body'
    ) }}
    {# extra_field_sibling_opportunities is on programs and events #}
  </div>
  {# We know we're not printing content.field_findit_where but we're not sure
     whether or not we want to.
  #}
  {% endif %}
  {% endblock debug %}

</article>
