{% extends "@newtowne/content/node-base--opportunity--full.html.twig" %}

{% block associated_program %}
  {% set assoc_progs = content.field_findit_programs|render %}
  {% if assoc_progs %}
    <div class="drum">
      {# Making this a heading does not increase distance below; if we want it
         to be relatively closer to the org attribution above we probably need
         a "tight-top" negative top margin class for drum.  #}
      <p class="subtitle is-6">With {{ content.field_findit_programs }}</p>
    </div>
  {% endif %}
{% endblock associated_program %}

{% block when_content %}
  {{ content.field_findit_opportunity_dates }}
  {{ content.field_findit_day_of_week }}
  {{ content.field_findit_time_of_day }}
  {{ content.field_findit_when_notes }}
{% endblock when_content %}

{% block related %}
  <div class="opportunity--related">
    {{ content.extra_field_sibling_opportunities }}
  </div>
{% endblock related %}
