{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% if site_logo %}
<div class="column branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo is-not-linked-print columns is-vcentered">
    <div class="column is-narrow">
      <img src="{{ site_logo }}" alt="IFSI-USA: Immigrant Family Services Institute, Inc." />
    </div>
    <div class="column">
      <h1 class="is-size-3">{{ site_name }}</h1>
    </div>
  </a>
</div>
{% endif %}
