{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% if site_logo %}
<div class="column branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo is-not-linked-print">
    <img src="{{ site_logo }}" alt="{{ site_name }}" />
  </a>
</div>
{% endif %}
