{# Replaces octavia/src/templates/block/block--system-menu-block.html.twig #}
{% extends "@stable/block/block--system-menu-block.html.twig" %}
{% set classes = classes ?? [] %}
{% set classes = classes|merge(['menu', 'navbar-start']) %}
{% set attributes = attributes.removeClass('navbar-end').addClass(classes) %}
{% set title_attributes = title_attributes.addClass('menu-label') %}
