{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass([
  'column',
  'is-half-mobile',
  'is-one-third-tablet',
  'is-one-third-desktop',
  ]) }}>

  {{ title_suffix.contextual_links }}

  <a class="link-block" href="{{- ds_content.field_link_blocks_link -}}">

    {{ ds_content.field_image }}

    <div class="link-block--overlay-caption background-purple foreground-light">
      {{ ds_content.block_description }}
      <h3 class="subtitle is-6 is-size-6-tablet is-size-5-desktop is-size-4-widescreen is-size-3-fullhd">{{ ds_content.field_subtitle }}</h3>
    </div>
  </a>

</{{ ds_content_wrapper }}>
