{#
/**
 * @file
 * Theme implementation for an unformatted view display.

 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 * @ingroup themeable
 */
#}
{% if title %}
  <h3{{ title_attributes }}>{{ title }}</h3>
{% endif %}
<div class="columns is-multiline">
  {% for row in rows %}
    <div{{ row.attributes.addClass('column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-fourth-fullhd') }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
