{#
/**
 * @file
 * Theme override for a neighborhood teaser.
 *
 * We only want to print it once if there are identical neighborhoods.
 */
#}

{% set neighborhoods_so_far = [] %}
{% for item in items %}
  {% set neighborhood = item.content|render|striptags %}
  {% if neighborhood not in neighborhoods_so_far %}
    {{ item.content }}
    {% set neighborhoods_so_far = neighborhoods_so_far|merge([neighborhood]) %}
  {% endif %}
{% endfor %}
