{#
/**
 * @file
 * Theme override for a neighborhood teaser.
 *
 * We need to do this so that when field--node--field-findit-locations--teaser.html.twig compares fields to not print
 * out duplicates, it doesn't have false negatives because the quickedit ID is different.
 */
#}
{% extends "@newtowne/elements/field-base--simple--no-quick-edit.html.twig" %}
