{% extends "@newtowne/elements/field-base--simple--no-quick-edit.html.twig" %}
{% block prefix %}
  <section class="section">
    <div class="container is-fullhd">
{% endblock prefix %}
{% block suffix %}
    </div>
  </section>
{% endblock suffix %}
