{#
/**
 * @file
 *
 * This template prints only a field item and nothing else.  It can be used for
 * fields that are single value and which you do *not* want to be available to
 * quick-edit functionality.
 *
 * To use it, create a field template with the usual naming convention (see
 * below) and enter one single line:
 *
 * {% extends "@newtowne/elements/field-base--simple--no-quick-edit--bullets.html.twig" %}
 *
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * This throws away:
 *
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - item attributes: List of HTML attributes for each item.
 *
 * And prints only:
 *
 * Item content: The field item's content.
 *
 * @see template_preprocess_field()
 */
#}
<ul>
{% for item in items %}
  <li>{{- item.content -}}</li>
{% endfor %}
</ul>
