{#
/**
 * @file
 * Template to show the very next occurrence (or a message if none).
 *
 * Remove all wrapping tags so we can do it from the node--micro template.
 *
 * @ingroup themeable
 */
#}
{{ proximate }}
