{% if items %}
  <nav{{ attributes.addClass(['menubar']) }}>
    <ul class="level is-mobile level-right menu-list">
    {% for item in items %}
      <li>{{ link(item.title, item.url) }}</li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
