{#
/**
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'social-media-links--platforms',
    'platforms',
    appearance.orientation == 'h' ? 'inline horizontal' : 'vertical',
  ]
%}

<ul{{ attributes.addClass(classes) }}>
  {% for platform in platforms %}
    <li>
      <a href="{{ platform.url }}" {{ platform.attributes.addClass("fa-icon") }} >
        {{ platform.element }}

      {% if appearance.show_name %}
        {% if appearance.orientation == 'h' %}
          <br />
        {% endif %}

        <span>{{ platform.name }}</span>
      {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
