{% extends "@stable/form/container.html.twig" %}

{# Override Bulma's override adding a silly field class to every container
set attributes = attributes.addClass("field")
See https://www.drupal.org/project/bulma/issues/3092395 #}
