{# Completely override the otherwise plain div of a container to add show/hide capability using classes from
   InOtherWords, which should be a required module for this theme anyway, as soon as that's allowed:
   https://www.drupal.org/project/drupal/issues/474684 #}
<div{{ attributes }}>
<input type="checkbox" id="inotherwords-toggle-events" class="inotherwords--toggle" name="toggle">
<label for="inotherwords-toggle-events" title="Show or hide past events.">Show past events</label><span class="period inotherwords--start-hidden">.</span><span class="colon inotherwords--start-hidden">:</span>
  <div class="inotherwords--start-hidden">
    {{ children }}
  </div>
</div>
