<div id="{{ id }}" class="vcard columns" itemscope="" itemtype="http://schema.org/Organization">
  <div class="column">
    {% if tagline|length %}
      <h3 class="tagline title is-3">{{ tagline }} </h3>
    {% endif %}

    {% if org|length %}
      <h4 class="subtitle is-5"><em>{% trans %}Contact{% endtrans %} <span class="fn org">{{ org }}</span> {% trans %}anytime{% endtrans %}.</em></h4>
    {% endif %}
  </div>
  <div class="column">

    {% if (street_address|length > 0 ) or (locality|length > 0 ) or (region|length > 0 ) or (postal_code|length > 0 ) or (country|length > 0 ) %}
        <div class="adr">
            {%  if street_address|length %}
                <div class="street-address">{{ street_address }} </div>
            {%endif%}
            {%  if extended_address|length %}
                <div class="extended-address">{{ extended_address }} </div>
            {%endif%}
            {%  if locality|length %}
                <span class="locality">{{ locality }}</span>{%  if region|length %},{%endif%}
            {%endif%}
            {%  if region|length %}<span class="region">{{ region }}</span>{%endif%}
            {%  if postal_code|length %}
                <span class="postal-code">{{ postal_code }}</span>
            {%endif%}
            {%  if country|length %}
                <span class="country-name">{{ country }}</span>
            {%endif%}
        </div>
    {%endif%}

    {%  if (longitude|length > 0) or (latitude|length > 0)%}
        <div class="geo">
            <abbr class="longitude" title="{{ longitude }}">{{ longitude_formatted }}</abbr>
            <abbr class="latitude" title="{{ latitude }}">{{ latitude_formatted }}</abbr>
        </div>
    {%endif%}

    {% if (phones) or (faxes) %}
      <div class="phone">
        {% for phone in phones %}
          {% if phone|length %}
            <p class="icon-inline icon-inline--phone title is-5">
              {% trans %}<span class="tel"><abbr class="type" title="voice">Call</abbr> or text us at{% endtrans %} <strong itemprop="telephone"><a href="tel:+16176862998">{{ phone }}</a></strong></span>
            </p>
          {%endif%}
        {%endfor%}
        {% for fax in faxes %}
          {%  if fax|length %}
            <div class="tel"><abbr class="type" title="fax"> Fax :</abbr> {{ fax }} </div>
          {%endif%}
        {%endfor%}
      </div>
    {%endif%}

    {%  if email|length %}
      <p class="icon-inline icon-inline--mail title is-5">{% trans %}E-mail us at{% endtrans %} <strong itemprop="email"><a href="{{ email_url }}" class="email">{{ email }}</a></strong></p>
    {%endif%}
  </div>

</div>
