{% set image_url = content.field_image[0]['#markup'] %}
{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'paragraph',
    'hero',
    'is-primary',
    'is-small',
  ])
%}
{# Note: hero classes set inside our overridden slide.html.twig #}
{% set item_classes = item_classes ?? [] %}
{%
  set item_classes = item_classes|merge([
    'button',
    'is-primary',
    'is-medium',
    'is-rounded',
    'is-size-6-touch',
  ])
%}
{% set item_attributes = create_attribute().addClass(item_classes) %}
{% import "@bulma/macros/renderables.html.twig" as renderables %}
{% set link = renderables.merge_attributes(item_attributes, content.field_link, 0) %}
{# Include slide component template. #}
{%
  include '@newtowne/components/slide.html.twig' with {
    classes: classes,
    image_url: image_url,
    text: content.field_text,
    link: link,
  } only
%}
