{% extends "@newtowne/components/profile-base--crm.html.twig" %}
{% block itemtype %}http://schema.org/Person{% endblock itemtype %}
{% block name %}{{ content.crm_name }}{% endblock name %}
{% block role %}
  <span itemprop="jobTitle">{{ content.field_findit_crm_role }}</span><br />
{% endblock role %}
