{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{# Provide a variable for a machine-ready telephone number that we should be creating with preprocessing of some kind.
See https://gitlab.com/find-it-program-locator/findit/issues/313 which provides a sort of a hook for more of this kind of work #}
{% if profile.crm_phone.value %}
  {# The above if check is needed or else an empty *array*, oddly, is passed into the replace filter and strtr() cries
     "expects parameter 1 to be string, array given in twig_replace_filter()" #}
  {% set phone_value = profile.crm_phone.value|replace({'(': "", ')': "", ' ': "", '-': ""}) %}
  {% if profile.field_findit_crm_ext.value %}
    {% set phone_value = phone_value ~ ";ext=" ~ profile.field_findit_crm_ext.value %}
  {% endif %}
{% else %}
  {% set phone_value = '' %}
{% endif %}
{% if profile.field_findit_crm_tty_number.value %}
  {% set tty_value = profile.field_findit_crm_tty_number.value|replace({'(': '', ')': '', ' ': '', '-': ''}) %}
{% else %}
  {% set tty_value = '' %}
{% endif %}
<div{{ attributes.addClass(['itemscope', 'drum']) }} itemtype="{% block itemtype %}http://schema.org/Organization{% endblock itemtype %}">
  {{ title_suffix.contextual_links }}
  <span itemprop="name">{% block name %}{{ content.crm_org_name }}{% endblock name %}</span><br />
  {% if profile.field_findit_crm_role.value %}
    {% block role %}
    <span itemprop="department">
      <span itemtype="http://schema.org/Organization"><span itemprop="name">{{ content.field_findit_crm_role }}</span></span>
    </span><br />
    {% endblock role %}
  {% endif %}
  {% if profile.field_public_email.value %}
    {{ content.field_public_email }}<br />
  {% endif %}
  {% if phone_value %}
    <a itemprop="telephone" content="{{ phone_value }}" href="tel:{{ phone_value }}">{{ content.crm_phone -}}{% if profile.field_findit_crm_ext.value %}x{{- content.field_findit_crm_ext }}{% endif %}</a><br />
  {% endif %}
  {% if tty_value %}
    <span itemprop="servicePhone" itemscope itemtype="http://schema.org/ContactPoint">
      <span itemprop="contactType">TTY</span>: <a itemprop="telephone" content="{{ tty_value }}" href="tel:{{ tty_value }}">{{ content.field_findit_crm_tty_number }}</a>
    </span><br />
  {% endif %}
  {{ content|without('crm_name', 'crm_org_name', 'field_public_email', 'field_findit_crm_role', 'crm_phone', 'field_findit_crm_ext', 'field_findit_crm_tty_number') }}
</div>
