{% if image_url %}
  {% set image_class_add = ' has-background-image' %}
  {% set image_style_add %}
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url('{{ image_url }}')"
  {% endset %}
{% else %}
  {% set section_background = ' has-background' %}
{% endif %}
<section class="section section--slide is-paddingless{{ section_background }}">
  <div class="container is-fullhd">
    <div class="{{classes|join(' ')}}{{ image_class_add }}"{{ image_style_add }}">
      <div class="hero-body">
        <div class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile has-text-shadow has-text-centered">
          {{ text }}
        </div>
        {% if link %}
        <div class="is-pulled-right">
          {{ link }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
